/*
* {
    font-family: 'comic sans ms'
}
*/

.flex-container, .credits-container {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    font-size: 3.5vh;
    font-style: italic;
    width: 90%;
    cursor: pointer;
}

/* for bigger screens */
@media screen and (min-width: 800px) {
    .content {
        font-size: 5vh;
        width: 50%;
    }
}

.credit {
    font-style: normal;
    font-size: 80%;
    text-align: right;
}

a {
    color: forestgreen;
}



.credits-container {
    color: #fff;
    display: none;
    z-index: 10;
}

.credits {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
    padding: 1em;
}

.nodecorate {
    text-decoration: none;
}

.footer {
    font-size: 3vh;
    position: fixed;
    text-align: right;
    z-index: 2;
    color: green;
    bottom: 0;
    right: 0;
    padding: 1em;
}

.footer a {
    font-family: monospace;
    color: forestgreen;
}

#rimshot {
    color: red;
    font-size: 5vh;
}